In [161]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [162]:
train_df = pd.read_csv("./jinnan_round1_train_20181227.csv")
test_df = pd.read_csv("./jinnan_round1_testA_20181227.csv")

In [163]:
def TimeToInt(str, previous = 0):
    now = 0
    try:
        time = str.split(":")
        now = (int(time[0]) * 60 + int(time[1])) * 60
        if now < previous:
            now += 86400
    except:
        now = previous
    return now

def getInt(str):
    val = str.split(":")
    return int(val[0]) * 60 + int(val[1])

def TimeToDuration(str):
    duration = 0
    try:
        time = str.split("-")
        duration = getInt(time[1]) - getInt(time[0])
    except:
        duration = 0
    if duration < 0:
        duration += 24 * 60
    return duration

In [164]:
train_df['timeA5'] = train_df['A5'].apply(lambda x: TimeToInt(x))
train_df['timeA9'] = train_df.apply(lambda x: TimeToInt(x.A9, x.timeA5), axis = 1)
train_df['timeA11'] = train_df.apply(lambda x: TimeToInt(x.A11, x.timeA9), axis = 1)
train_df['timeA14'] = train_df.apply(lambda x: TimeToInt(x.A14, x.timeA11), axis = 1)
train_df['timeA16'] = train_df.apply(lambda x: TimeToInt(x.A16, x.timeA14), axis = 1)
train_df['timeA24'] = train_df.apply(lambda x: TimeToInt(x.A24, x.timeA16), axis = 1)
train_df['timeA26'] = train_df.apply(lambda x: TimeToInt(x.A26, x.timeA24), axis = 1)
train_df['timeB5'] = train_df.apply(lambda x: TimeToInt(x.B5, x.timeA26), axis = 1)
train_df['timeB7'] = train_df.apply(lambda x: TimeToInt(x.B7, x.timeB5), axis = 1)
train_df = train_df.drop(['A5','A7','A9','A11','A14','A16','A24','A26','B5','B7'], axis=1)
col = ['timeA5','timeA9','timeA11','timeA14','timeA16','timeA24','timeA26','timeB5','timeB7']
train_df[col] = train_df[col].fillna(0)

train_df['durationA20'] = train_df['A20'].apply(lambda x: TimeToDuration(x))
train_df['durationA28'] = train_df['A28'].apply(lambda x: TimeToDuration(x))
train_df['durationB4'] = train_df['B4'].apply(lambda x: TimeToDuration(x))
train_df['durationB9'] = train_df['B9'].apply(lambda x: TimeToDuration(x))
train_df['durationB10'] = train_df['B10'].apply(lambda x: TimeToDuration(x))
train_df['durationB11'] = train_df['B11'].apply(lambda x: TimeToDuration(x))
train_df = train_df.drop(['A20', 'A28', 'B4', 'B9', 'B10', 'B11'], axis=1)
col = ['durationA20','durationA28','durationB4','durationB9','durationB10','durationB11']
train_df[col] = train_df[col].fillna(0)

col = ['A1','A2','A3','A4','A6','A8','A10','A12','A13','A15','A17','A18','A19','A21','A22','A23','A25','A27','B1','B2','B3','B6','B8','B12','B13','B14']
train_df[col] = train_df[col].fillna(0)

train_df.head()

,sample id,A1,A2,A3,A4,A6,A8,A10,A12,A13,...,timeA24,timeA26,timeB5,timeB7,durationA20,durationA28,durationB4,durationB9,durationB10,durationB11
0,sample_1528,300,0.0,405.0,700,38.0,0.0,100,102,0.2,...,79200,81000,115200,127800,30,30,60,90,90,0
1,sample_1698,300,0.0,405.0,700,29.0,0.0,101,103,0.2,...,72000,75600,82800,108000,60,60,60,90,90,60
2,sample_639,300,0.0,405.0,700,29.0,0.0,102,103,0.2,...,72000,75600,82800,90000,30,60,60,90,90,60
3,sample_483,300,0.0,405.0,700,38.0,0.0,100,102,0.2,...,27000,28800,55800,64800,30,60,60,90,90,0
4,sample_617,300,0.0,405.0,700,29.0,0.0,101,103,0.2,...,100800,104400,111600,118800,60,60,60,90,90,60

In [185]:
test_df['timeA5'] = test_df['A5'].apply(lambda x: TimeToInt(x))
test_df['timeA9'] = test_df.apply(lambda x: TimeToInt(x.A9, x.timeA5), axis = 1)
test_df['timeA11'] = test_df.apply(lambda x: TimeToInt(x.A11, x.timeA9), axis = 1)
test_df['timeA14'] = test_df.apply(lambda x: TimeToInt(x.A14, x.timeA11), axis = 1)
test_df['timeA16'] = test_df.apply(lambda x: TimeToInt(x.A16, x.timeA14), axis = 1)
test_df['timeA24'] = test_df.apply(lambda x: TimeToInt(x.A24, x.timeA16), axis = 1)
test_df['timeA26'] = test_df.apply(lambda x: TimeToInt(x.A26, x.timeA24), axis = 1)
test_df['timeB5'] = test_df.apply(lambda x: TimeToInt(x.B5, x.timeA26), axis = 1)
test_df['timeB7'] = test_df.apply(lambda x: TimeToInt(x.B7, x.timeB5), axis = 1)
test_df = test_df.drop(['A5','A7','A9','A11','A14','A16','A24','A26','B5','B7'], axis=1)
col = ['timeA5','timeA9','timeA11','timeA14','timeA16','timeA24','timeA26','timeB5','timeB7']
test_df[col] = test_df[col].fillna(0)

test_df['durationA20'] = test_df['A20'].apply(lambda x: TimeToDuration(x))
test_df['durationA28'] = test_df['A28'].apply(lambda x: TimeToDuration(x))
test_df['durationB4'] = test_df['B4'].apply(lambda x: TimeToDuration(x))
test_df['durationB9'] = test_df['B9'].apply(lambda x: TimeToDuration(x))
test_df['durationB10'] = test_df['B10'].apply(lambda x: TimeToDuration(x))
test_df['durationB11'] = test_df['B11'].apply(lambda x: TimeToDuration(x))
test_df = test_df.drop(['A20', 'A28', 'B4', 'B9', 'B10', 'B11'], axis=1)
col = ['durationA20','durationA28','durationB4','durationB9','durationB10','durationB11']
test_df[col] = test_df[col].fillna(0)

col = ['A1','A2','A3','A4','A6','A8','A10','A12','A13','A15','A17','A18','A19','A21','A22','A23','A25','A27','B1','B2','B3','B6','B8','B12','B13','B14']
test_df[col] = test_df[col].fillna(0)

test_df.head()

,sample id,A1,A2,A3,A4,A6,A8,A10,A12,A13,...,timeA24,timeA26,timeB5,timeB7,durationA20,durationA28,durationB4,durationB9,durationB10,durationB11
0,sample_1656,300,0.0,405.0,700,29,0.0,101,103.0,0.2,...,43200,46800,54000,61200,60,60,60,90,90,60
1,sample_1548,300,0.0,405.0,700,39,80.0,100,102.0,0.2,...,75600,77400,114600,122400,30,30,80,60,90,0
2,sample_769,300,0.0,405.0,700,80,0.0,102,104.0,0.2,...,43200,46800,54000,61200,60,60,60,180,0,0
3,sample_1881,300,0.0,405.0,700,29,0.0,102,103.0,0.2,...,100800,104400,111600,118800,60,60,60,90,90,60
4,sample_1807,300,0.0,405.0,700,30,0.0,101,104.0,0.2,...,100800,104400,111600,118800,60,60,60,90,90,60

In [177]:
def toFloat(str):
    try:
        return float(str)
    except:
        return float(0)
train_set.loc[train_set.A25].apply(lambda x: toFloat(x))
train_set.head()

,sample id,A1,A2,A3,A4,A6,A8,A10,A12,A13,...,timeA24,timeA26,timeB5,timeB7,durationA20,durationA28,durationB4,durationB9,durationB10,durationB11
251,sample_1492,300,0.0,405.0,700,21.0,74.0,100,102,0.2,...,75600,77400,102600,124200,30,30,60,120,90,0
879,sample_1394,300,0.0,405.0,700,29.0,0.0,102,103,0.2,...,43200,46800,54000,61200,60,60,60,240,0,0
1194,sample_140,300,0.0,405.0,700,29.0,0.0,101,103,0.2,...,100800,104400,111600,118800,60,60,60,90,90,60
492,sample_1535,300,0.0,405.0,700,51.0,0.0,100,102,0.2,...,52200,54000,79200,113400,30,30,90,90,90,0
87,sample_643,300,0.0,405.0,700,29.0,0.0,102,103,0.2,...,100800,104400,111600,118800,60,60,60,90,90,840

In [194]:
train_set.columns

Index([u'sample id', u'A1', u'A2', u'A3', u'A4', u'A6', u'A8', u'A10', u'A12',
       u'A13', u'A15', u'A17', u'A18', u'A19', u'A21', u'A22', u'A23', u'A25',
       u'A27', u'B1', u'B2', u'B3', u'B6', u'B8', u'B12', u'B13', u'B14',
       u'score', u'timeA5', u'timeA9', u'timeA11', u'timeA14', u'timeA16',
       u'timeA24', u'timeA26', u'timeB5', u'timeB7', u'durationA20',
       u'durationA28', u'durationB4', u'durationB9', u'durationB10',
       u'durationB11'],
      dtype='object')

In [209]:
test_set = test_df
test_set.columns

Index([u'sample id', u'A1', u'A2', u'A3', u'A4', u'A6', u'A8', u'A10', u'A12',
       u'A13', u'A15', u'A17', u'A18', u'A19', u'A21', u'A22', u'A23', u'A25',
       u'A27', u'B1', u'B2', u'B3', u'B6', u'B8', u'B12', u'B13', u'B14',
       u'timeA5', u'timeA9', u'timeA11', u'timeA14', u'timeA16', u'timeA24',
       u'timeA26', u'timeB5', u'timeB7', u'durationA20', u'durationA28',
       u'durationB4', u'durationB9', u'durationB10', u'durationB11'],
      dtype='object')

In [225]:
train_X = train_set.drop(['score','sample id'], axis=1)
train_Y = train_set['score'].apply(lambda x: x * 1000)
model = LinearRegression(fit_intercept=False)
model.fit(train_X, train_Y)
test_X = test_set.drop(['sample id'], axis=1)

In [226]:
Y_test = model.predict(test_X)
acc_svc = round(model.score(train_X, train_Y) * 100, 2)
acc_svc

51.26

In [233]:
svc = SVC()
svc.fit(train_X, train_Y.astype('int'))
Y_test = svc.predict(test_X)
acc_svc = round(model.score(train_X, train_Y) * 100, 2)
acc_svc

53.07

In [243]:
submission = pd.DataFrame({
        "sample id": test_set["sample id"],
        "score": Y_test.astype('float') / 1000
    })
submission.to_csv("submission.csv", header=False, index=False)